.normaBtn{
    font-size: 14px;
    padding: 4px 8px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    cursor: pointer;
}
.addBtn{
    background-image: url("../images/button/add.png");
}
.deleteBtn{
    background-image: url("../images/button/delete.png");
}
.disabledBtn{
    background-image: url("../images/button/disabled.png");
}
.editBtn{
    background-image: url("../images/button/edit.png");
}
.startBtn{
    background-image: url("../images/button/start.png");
}
.saveBtn{
    background-image: url("../images/button/save.png");
}
.expandBtn{
    background-image: url("../images/button/expand.png");
}
.roundBtn{
    font-size: 14px;
    padding: 3px 8px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
}
.roundBtn:hover{
    color: #fff;
    text-decoration: none;
}
.round_add{
    background-image: url("../images/button/round_add.png");
}
.round_edit{
    background-image: url("../images/button/round_edit.png");
}
.round_delete{
    background-image: url("../images/button/round_delete.png");
}
.largeBtn{
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 50%;
}
.btn_left{
    background-image: url("../images/button/large_btn_left_n.png");
}
.btn_left:active,.btn_left:hover{
    background-image: url("../images/button/large_btn_left_p.png");
}
.btn_right{
    background-image: url("../images/button/large_btn_right_n.png");
}
.btn_right:active,.btn_right:hover{
    background-image: url("../images/button/large_btn_right_p.png");
}
