.ztree li span.button.ico_open{
    background-image:url("../images/tree/nj_wenjian_open.png") ;
    background-position: 0px 0px;
    background-size: contain;
}
.ztree li span.button.ico_close{
    background-image:url("../images/tree/nj_wenjian_off.png") ;
    background-position: 0px 0px;
    background-size: contain;
}
.ztree li span.button.ico_docu{
    background-image:url("../images/tree/nj_wenjian_n.png") ;
    background-position: 0px 0px;
    background-size: contain;
}
.ztree li a.curSelectedNode {
    padding-top: 0px;
    background-color: #e9f3fd;
    color: #2c93e2;
    height: 20px;
    border: 1px #68bdfd solid;
    opacity: 0.8;
}