<!DOCTYPE html>
<html>
<head>

<title>用户管理</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../css/ligerui-all.css"/>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../css/bootstrap/bootstrap-table.css" type="text/css">
<link rel="stylesheet" href="user.css" type="text/css">

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-table.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../js/ligerui.all.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript" src="user.js"></script>
</head>
<body>
	<div class = "content">
		<div class="position">
			<!-- <span>您的当前位置：<a href="javascript:void(0)">首页</a> -> <a href="javascript:void(0)">系统管理</a> -> 用户 </span> -->
		</div>
		<div class="title">
				<h4>用户列表</h4>
		</div>
		<div class="tool">
			<div class="add">
				<a href="addUser.html"><img title="添加用户" src="../img/new.png">添加用户</a>
			</div>
			<div class="form-serch">
				<form name="userForm" action="#" class="form-inline pull-right" onsubmit="javascript:return false;">
					<div class="form-group form-group-sm">
						<input name="userName" class="form-control input-sm" id="queryKeywordIpt" placeholder="根据用户名查询" />
					</div>
					<button id="searchBtn" type="submit" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-search"></span> 查询
					</button>
				</form>
			</div>
		</div>
		
		<div class="tableContainer"><table id="userTable"></table></div>
	</div>
</body>
</html>