<!DOCTYPE html>
<html>
<head>

<title>用户管理</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../css/ligerui-all.css"/>

<link rel="stylesheet" href="../css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../css/bootstrap/bootstrap-table.css" type="text/css">
<link rel="stylesheet" href="../js/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<link rel="stylesheet" href="../js/jqueryui/1.10.4/themes/bootstrap3/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" type="text/css" href="../css/ligerui-all.css"/>
<link rel="stylesheet" href="user.css" type="text/css">

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-table.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../js/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="../js/jquery-validation/additional-methods.js"></script>
<script type="text/javascript" src="../js/jquery-validation/messages_zh.js"></script>
<script type="text/javascript" src="../js/ztree/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="../js/jqueryui/1.10.4/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/ligerui.all.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<script type="text/javascript" src="../js/requestParam.js"></script>
<script type="text/javascript" src="../common.js"></script>
<script type="text/javascript" src="addUser.js"></script>
<script type="text/javascript" src="updateUser.js"></script>
</head>
<body>
	<!-- <div class="position">
		<span>您的当前位置：<a href="javascript:void(0)">首页</a> -> <a href="javascript:void(0)">系统管理</a> -> 修改用户 </span>
	</div> -->
	<div class="system-edit">
		<h4>修改用户</h4>
		<hr />
		<form name="userForm" class="form-horizontal" action="" method="post" id="userForm">
			<div class="form-group">
				<label for="userLoginName" class="col-sm-2 control-label">用户登录名称</label>
				<div class="col-sm-5">
					<input name="userLoginName" class="form-control" id="userLoginName" />
					<input type="hidden" class="form-control" id="curName" />
					<input name="userId" type="hidden" class="form-control" id="userId" />
				</div>
			</div>
			<div class="form-group">
				<label for="userPassword" class="col-sm-2 control-label">用户登录密码</label>
				<div class="col-sm-5">
					<input type="password" name="userPassword" class="form-control" id="userPassword" />
				</div>
			</div>
			<div class="form-group">
				<label for="userEmail" class="col-sm-2 control-label">用户邮箱</label>
				<div class="col-sm-5">
					<input name="userEmail" class="form-control" id="userEmail" />
				</div>
			</div>
			<div class="form-group">
				<label for="userIsSuperAdmin" class="col-sm-2 control-label">用户是否是超级管理员</label>
				<div class="col-sm-5">
					<label> <input type="radio" name="userIsSuperAdmin" id="userIsSuperAdmin" value="1"> 是 </label> 
					<label> <input type="radio" name="userIsSuperAdmin"  value="0" checked> 否 </label>
				</div>
			</div>
			<div class="form-group">
				<label for="userEnabledTime" class="col-sm-2 control-label">用户激活时间</label>
				<div class="col-sm-5">
					<input type="text" name="userEnabledTime" class="form-control" id="userEnabledTime" readonly />
				</div>
			</div>
			<div class="form-group">
				<label for="userInvalidTime" class="col-sm-2 control-label">用户失效时间</label>
				<div class="col-sm-5">
					<input type="text" name="userInvalidTime" class="form-control" id="userInvalidTime" readonly />
				</div>
			</div>
			<div class="form-group">
				<label for="iptOrganization" class="col-sm-2 control-label" >所属机构</label>
				<div class="col-sm-5">
					<input type="hidden" name="orgId" id="orgId" /> <input id="citySel" type="text" readonly value="" class="form-control" onclick="showMenu();" />
				</div>
			</div>
			<div class="form-group"></div>
			<div class="form-group"></div>
			<input id="btn_submit" class="hide" type="submit" value="Submit">
		</form>

		<div class="container-fluid catalog-edit-guide-footer">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-offset-3 col-md-9">
						<a class="btn btn-default button-back" href="userList.html" id="backBtn"> <i class="glyphicon glyphicon-arrow-left"></i> 返回 </a> 
						<a class="btn btn-primary button-submit" href="javascript:;" id="btnSaveFunctionPower"> <i class="glyphicon glyphicon-floppy-disk"></i> 保存 </a> 
						<a class="btn btn-success button-continue" style="display: none;" href="javascript:;"> <i class="glyphicon glyphicon-thumbs-up"></i> 继续 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 机构下拉菜单内容 -->
	<div id="menuContent" class="menuContent" style="display: none; position: absolute;">
		<ul id="treeDemo" class="ztree" style="margin-top: 0; width: 400px; height: 200px; background: white; overflow-y: auto;"></ul>
	</div>
</body>
</html>