<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.common.eureka.dao.User1000wMapper" >
  <resultMap id="BaseResultMap" type="org.common.eureka.entity.User1000w" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="copy_id" property="copyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, first_name, last_name, sex, score, copy_id
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from user1000w
   <where>
   		<if test="firstName!=null and firstName!=''">
   			first_name like CONCAT('%',#{firstName,jdbcType=VARCHAR},'%')
   		</if>
   		<if test="lastName!=null and lastName!=''">
   			last_name = like CONCAT('%',#{lastName,jdbcType=VARCHAR},'%')
   		</if>
   </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user1000w
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user1000w
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.common.eureka.entity.User1000w" >
    insert into user1000w (id, first_name, last_name, 
      sex, score, copy_id)
    values (#{id,jdbcType=INTEGER}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{copyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.common.eureka.entity.User1000w" >
    insert into user1000w
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="lastName != null" >
        last_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="copyId != null" >
        copy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="copyId != null" >
        #{copyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.common.eureka.entity.User1000w" >
    update user1000w
    <set >
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="copyId != null" >
        copy_id = #{copyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.common.eureka.entity.User1000w" >
    update user1000w
    set first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      copy_id = #{copyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>